# Kafka Settings
KAFKA_TOPIC_NAME=
KAFKA_REPLICATION_FACTOR=
KAFKA_PORT=9092

# Spark Settings
SPARK_MASTER_PORT=7077
SPARK_WEBUI_PORT=8080
SPARK_WORKER_WEBUI_PORT=8081

# Airflow Settings
AIRFLOW_UID=50000
AIRFLOW_PORT=8085
AIRFLOW__CORE__LOAD_EXAMPLES=false
AIRFLOW_DATABASE_USER=
AIRFLOW_DATABASE_PASSWORD=
AIRFLOW_DATABASE_DB=airflow
