# Kafka Settings
KAFKA_TOPIC_NAME=
KAFKA_REPLICATION_FACTOR=
KAFKA_PORT=9092

# Spark Settings
SPARK_MASTER_PORT=7077
SPARK_WEBUI_PORT=8080
SPARK_WORKER_WEBUI_PORT=8081

# Airflow Settings
AIRFLOW_UID=50000
AIRFLOW_PORT=8085
AIRFLOW__CORE__LOAD_EXAMPLES=false
AIRFLOW_DATABASE_USER=
AIRFLOW_DATABASE_PASSWORD=
AIRFLOW_DATABASE_DB=airflow

# MinIO Settings
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_DEFAULT_BUCKET=

# Data Warehouse Settings (PostgreSQL)
DWH_DATABASE_USER=
DWH_DATABASE_PASSWORD=
DWH_DATABASE_DB=
DWH_PORT=5432

# Superset
SUPERSET_SECRET_KEY=my_super_secret_key_12345_for_superset
SUPERSET_PORT=8088